.Hero_title {
  font-family: "Bungee", cursive;
  color: #e9efff;

  font-size: 48px;
}

.Hero_whole {
  display: flex;
  justify-content: space-between;
  height: 40rem;
  align-items: center;
}

.Hero_text {
  flex-direction: column;
  text-align: left;
}

.Hero_text h3 {
  font-family: "Bungee", cursive;
  color: #d2a517;

  font-size: 24px;
}

.Hero_Button {
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  color: #e9efff;
  background-color: #d2a517;
  border: none;
}

.Hero_Planet {
  width: 100%;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .Hero_text {
    text-align: center;
  }
}
