.Skills_title {
  font-family: "Bungee", cursive;
  color: #d2a517;
}

.Skills_whole {
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: space-around;
}

.Skills_list {
  display: flex;
  flex-direction: column;
}

.Skills_list p {
  font-family: "Bungee", cursive;
  color: #e9efff;
}
